.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: grid;
  gap: 5px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 3px;
  width: 25px;
  aspect-ratio: 1 / 1;
  font-family: courier;
  font-size: 12px;
}

.active {
  background-color: #009966;
  color: white;
}

.none {
  background-color: #eee;
  color: black;
}
